.back-to-top {
  height: 50px;
  width: 50px;
  border-radius: 8px;

  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: $main-color;
  @include flex(center, center);

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;

  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s linear;

  cursor: pointer;

  &.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
