.product {
  @include flex(flex-start, flex-start);

  @include mobile {
    flex-direction: column;
  }

  &-img {
    @include flex(flex-start, flex-start);

    width: 60%;
    flex-wrap: wrap;
    @include tablet {
      width: 80%;
    }
    @include mobile {
      width: 100%;
    }

    &-list {
      width: 20%;

      &-item {
        cursor: pointer;
      }
    }

    &-main {
      flex-grow: 1;
      padding-top: 100%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
      }
    }
  }

  &-info {
    flex-grow: 1;
    position: sticky;
    top: $header-shrink-height;
    padding-top: 1rem;
    @include mobile {
      position: inherit;
    }
    &-title {
      font-size: 2.5rem;
      font-weight: 400;
    }

    &-item {
      margin-top: 2rem;
      &-price {
        color: $main-color;
        font-size: 2rem;
        font-weight: 600;
      }
      &-title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      &-list {
        @include flex(center, flex-start);
        &-item {
          @include flex(center, center);
          width: 50px;
          height: 50px;
          border-radius: 5px;
          border: 2px solid $txt-second-color;
          cursor: pointer;
          margin-right: 1rem;
          transition: 0.3s ease-in;
          @include mobile {
            width: 40px;
            height: 40px;
          }

          &.active {
            border-color: $main-color;
          }

          &:hover {
            border-color: $main-color;
          }
          .circle {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            box-shadow: $box-shadow;
            @include mobile {
              width: 30px;
              height: 30px;
            }
          }
          &-size {
            font-size: 1.5rem;
            text-transform: uppercase;
          }
        }
      }

      &-quantity {
        @include flex(flex-start, flex-start);

        &-btn {
          @include flex(center, center);
          width: 30px;
          height: 30px;
          border: 2px solid $txt-second-color;
          font-size: 1.5rem;
          cursor: pointer;
        }
        &-input {
          @include flex(center, center);
          height: 30px;
          width: 90px;
          font-size: 1.5rem;
          border: 2px solid $txt-second-color;
        }
      }

      button {
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.product-desc {
  width: 100%;
  padding: 2rem 2rem 3rem;
  height: 400px;
  overflow: hidden;
  position: relative;
  transition: height 0.3s ease-in;
  &.mobile {
    display: none;
  }

  @include mobile {
    display: none;
    padding: 0;
    padding-bottom: 3rem;
    height: 200px;
    &.mobile {
      display: block;
    }
  }

  &.active {
    height: max-content;
  }
  &-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
    @include mobile {
      margin: 1rem 0;
    }
  }
  &-content {
    font-size: 1.25rem;
    line-height: 1.875rem;
    @include mobile {
      font-size: 13px;
    }
  }

  &-toggle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 90;
  }
}
